.App {
  text-align: center;
}
/*.App-logo{*/
/*  margin-top: 130px;*/
/*  left: 174px;*/
/*  width: 158px;*/
/*  height: 54px;*/
/*  background-image: url(./img/filed-logo-01.png);*/
/*}*/
/*.appText1{*/
/*  size: 44px;*/
/*  text-align: left;*/
/*}*/


 /*.container {*/
 /*  background: #FBFBFB 0% 0% no-repeat padding-box;*/
 /*  box-shadow: 0px 4px 20px #00000029;*/
 /*  border-radius: 30px;*/
 /*  width: 651px;*/
 /*  height: 724px;*/
 /*}*/

 /*.formContainer {*/
 /*  background: var(--unnamed-color-fbfbfb) 0% 0% no-repeat padding-box;*/
 /*  background: #FBFBFB 0% 0% no-repeat padding-box;*/
 /*  box-shadow: 0px 4px 20px #00000029;*/
 /*  border-radius: 30px;*/
 /*  opacity: 1;*/
 /*}*/

.button {
  background:#595957;
  color: white;
  border: none;
}


